<div class="content landing">
  <%= render "exchanges/hbx_admins/primary_nav", :active_tab => "home-tab" %>
  <div class="container top-pd">
    <div aria-labelledby="inbox-tab" id="inbox" class="tab-pane-hbx" role="tabpanel">
      <div class="col-xs-12">
          <%#= render 'consumer_application_links' %>
      </div>
    </div>
  </div>
</div>
