set_tab_content("<%= escape_javascript render "sep/index"%>")
$('.sep_link').hide();


var table = $('#sepAdmin').DataTable( {
    columnDefs: [
      { targets: [4], orderable: false},
      { targets: [5,6,7,8,9,10,11,12,13, 14], visible: false}
    ],

    "order": [[ 1, "asc" ]]
  } );

$(document).ready(function() {
    

});



function displayTable(sep_reasons_table, admin_decision, csl_val, select_reason, date_ruling, comment_btn, dataForm) {
    // `d` is the original data object for the row
    return '<div class="slider">'+
            '<div class="row container">' + 

            dataForm + 
              
              '<table class = "table table-striped">'+
                '<thead>'+
                  '<tr>' +
                    '<th colspan="1"></th>' +
                    '<th colspan="2" style="text-align:center;">Medical</th>' +
                    '<th colspan="2" style="text-align:center;">Dental</th>' +
                  '</tr>' +
                '</thead>'+ 
                    sep_reasons_table + 
              '</table>'+


              '<table id="sepAdmin2" class = "table">'+
                '<thead>'+
                  '<tr>' +
                    '<th>Special Reason</th>' +
                    '<th>Reason</th>' +
                  '</tr>' +
                '</thead>'+

                '<tbody>'+
                  '<tr>' +
                    '<td><%= text_field_tag "name" %></td>' +
                    '<td><%= text_field_tag "name" %></td>' +
                  '</tr>' +
                '</tbody>'+
                    
              '</table>'+

              '<br/>'+'<br/>'+'<br/>'+
            '</div>' +
            '</div>';
}

 
 $('#sepAdmin tbody').on('click', 'td.details-control', function () {
  var tr = $(this).closest('tr');
  var row = table.row(tr);
  var reason_arr = row.data()[5];
  var started_on_arr = row.data()[6];
  var effective_on_arr = row.data()[7];
  var select_reason_arr = row.data()[8];
  var date_ruling = row.data()[9];
  var admin_decision = row.data()[10];
  var csl_val = row.data()[11];
  var comment_btn = row.data()[12];
  var admin_comment_arr = row.data()[13];
  var dataForm = row.data()[14];

  //alert(dataForm.split("?dummyData"));

  var reason = reason_arr.split("?dummyData");
  var started_on = started_on_arr.split("?dummyData");
  var effective_on = effective_on_arr.split("?dummyData");
  var select_reason = select_reason_arr.split("?dummyData");
  var admin_comment = admin_comment_arr.split("?dummyData");

  var builder = buildTable(reason.length-1, reason, started_on, effective_on, admin_comment);

    //row.child('i').toggleClass('fa fa-plus-square fa fa-minus-square');
  if ( row.child.isShown() ) {
    $(this).removeClass('fa fa-minus-square');
    $(this).find('i').addClass('fa fa-plus-square');
  // This row is already open - close it
    $('div.slider', row.child()).slideUp( function () {
    row.child.hide();
    //tr.removeClass('shown');
    } );
  }
  
  else {
    $(this).find('i').removeClass('fa fa-plus-square');
    $(this).addClass('fa fa-minus-square');
  // Open this row
    row.child(displayTable(builder, admin_decision, csl_val, select_reason, date_ruling, comment_btn, dataForm), 'no-padding' ).show();
   
    var table2 = $('#sepAdmin2').DataTable( {
      columnDefs: [
      { targets: [1], orderable: false},
      { targets: [0], visible: false},
      ],
    } );



    $('div.slider', row.child()).slideDown();
  }

  } );

 function buildTable(size, reason, start, effective, admin_comment)
 {
    var val = "";

    comment_section = 'Comment: N/A';

    for(i=0; i<size; i++){
       val =   val +
              '<thead>'+  
                '<tr>'+
                '<th>SEP REASON</th>'+ 
                '<th>Selected Date</th>'+
                '<th>Effective Date</th>'+
                '<th>Selected Date</th>'+
                '<th>Effective Date</th>'+
                '<th style="text-align:center";>Review Status</th>'+
                '</tr>'+
              '</thead>'+
        
              '<tbody>'+
                '<tr>'+
                  '<td>' + reason[i] + '</td>'+
                  '<td>' + start[i] + '</td>'+
                  '<td>' + effective[i] + '</td>'+
                  '<td>16-01-09</td>'+
                  '<td>16-02-01</td>'+
                  '<td style="text-align:center";><i class="fa fa-spinner fa-spin" style="color:grey"></i></td>'+
                '</tr>'+ 

                '<tr>' +
                   '<td>&nbsp;&nbsp;&nbsp;&nbsp;' + comment_section + '</td>' +
                '</tr>'+

              '</tbody>' 
    }

    return val;
 }


 $(".btn").click(function() {
    if($("#collapseme").hasClass("out")) {
        $("#collapseme").addClass("in");
        $("#collapseme").removeClass("out");
    } else {
        $("#collapseme").addClass("out");
        $("#collapseme").removeClass("in");
    }
});