set_tab_content("<%= escape_javascript render "sep/index"%>")
$('.sep_link').hide();


var table = $('#sepAdmin').DataTable( {
    columnDefs: [
      { targets: [7], orderable: false},
      { targets: [4,5,6], visible: false}
    ],

    "order": [[ 1, "asc" ]]
  } );

function displayTable(reason) {
    // `d` is the original data object for the row
    return '<div class="slider">'+ 
        '<br/>'+
        '<table cellpadding="25" cellspacing="0" border="0" style="padding-left:100px; margin-left:150px">'+
        '<thead>'+
          '<tr>' +
            '<th colspan="1"></th>' +
            '<th colspan="2" style="text-align:center;">Medical</th>' +
            '<th colspan="2" style="text-align:center;">Dental</th>' +
          '</tr>' +
        '</thead>'+ 
          reason + 
        '</table>'+
        '<br/>'+'<br/>'+
        '<table cellpadding="25" cellspacing="0" border="0" style="padding-left:100px; margin-left:150px">'+
        '<thead>'+
          '<tr>' +
            '<th class="col-md-4">SEP REASON</th>'+ 
            '<th>Selected Date</th>'+
            '<th>Effective Date Rule</th>'+
            '<th>Approve/Deny</th>'+
            '<th>CSL#</th>'+
            '<th>Comment</th>'+
          '</tr>' +
        '</thead>'+ 
       '</table>'+

    '</div>';
}

 
 $('#sepAdmin tbody').on('click', 'td.details-control', function () {
  var tr = $(this).closest('tr');
  var row = table.row(tr);
  var reason_arr = row.data()[4];
  var started_on_arr = row.data()[5];
  var effective_on_arr = row.data()[6];

  var reason = reason_arr.split("?dummyData");
  var started_on = started_on_arr.split("?dummyData");
  var effective_on = effective_on_arr.split("?dummyData");

  var builder = buildTable(reason.length-1, reason, started_on, effective_on);
  
  var submitted_at = tr.find('#submitted_at').html();
  var effective_on = tr.find('#effective_on').html();

    //row.child('i').toggleClass('fa fa-plus-square fa fa-minus-square');
  if ( row.child.isShown() ) {
    $(this).removeClass('fa fa-minus-square');
    $(this).find('i').addClass('fa fa-plus-square');
  // This row is already open - close it
    $('div.slider', row.child()).slideUp( function () {
    row.child.hide();
    //tr.removeClass('shown');
    } );
  }
  
  else {
    $(this).find('i').removeClass('fa fa-plus-square');
    $(this).addClass('fa fa-minus-square');
  // Open this row
    row.child(displayTable(builder), 'no-padding' ).show();
    $('div.slider', row.child()).slideDown();
  }

  } );

 function buildTable(size, reason, start, effective)
 {
    var val = ""

    for(i=0; i<size; i++){

       val =  

              val + 
              '<thead>'+  
                '<tr>'+
                '<th class="col-md-4">SEP REASON</th>'+ 
                '<th>Selected Date</th>'+
                '<th>Effective Date</th>'+
                '<th>Selected Date</th>'+
                '<th>Effective Date</th>'+
                '</tr>'+
              '</thead>'+
        
              '<tbody>'+
                '<tr>'+
                  '<td class="col-md-4">' + reason[i] + '</td>'+
                  '<td>' + start[i] + '</td>'+
                  '<td>' + effective[i] + '</td>'+
                  '<td>16-01-09</td>'+
                  '<td>16-02-01</td>'+
                '</tr>'+
              '</tbody>'
    } 

    return val;
 }


 $(".btn").click(function() {
    if($("#collapseme").hasClass("out")) {
        $("#collapseme").addClass("in");
        $("#collapseme").removeClass("out");
    } else {
        $("#collapseme").addClass("out");
        $("#collapseme").removeClass("in");
    }
});