<nav class=" smartscroll-nav" id="mainnav" style="margin-left: 0px !important;">
  <ul class="nav nav-stacked" id="leftNavigation">
    <% @allSteps.each do |step| %>
      <li id="<%= step['id'] %>" class="list-box step-tabs">
        <a  href="#" ><%= step['title'] %></a>
      </li>
    <%end%>
  </ul>
</nav>