
<div class="row container">
  <h3 class="title-inline">Case Management</h3>
</div>

<div class="row container">
  <br/>
  </br/>
</div>

<div class="row container">
  <div id="">
    <%= render "sep/approval/sep_index"%>
  </div>
</div>

