<div>
	<input name={kind_input_name} type="hidden" value={address_kind} />
	<div className="row row-form-wrapper no-buffer address-row home-div" hidden={!visible}>
		<div className="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
			<input name={address_1_input_name} placeholder="ADDRESS LINE 1" className="floatlabel form-control" value={address_1}/>
		</div>
		<div className="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
			<input name={address_2_input_name} placeholder="ADDRESS LINE 2" className="floatlabel form-control" value={address_2}/>
		</div>
	</div>
	<div className="row row-form-wrapper no-buffer address-row home-div" hidden={!visible}>
		<div className="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
			<input name={city_input_name} placeholder="CITY" className="floatlabel form-control" value={city}/>
		</div>
		<div className="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
			<select name={state_input_name}>
			</select>
		</div>
		<div className="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
			<input name={zip_input_name} placeholder="ZIP" className="number floatlabel form-control zip" value={zip}/>
		</div>
	</div>
</div>
