<div class="row">
  <div class="col-md-1">1 Column</div>

    <!-- Tabs across top of frame.  These are Workflow level 1 categories -->
    <div class="col-md-10">
      <h1>Ux::Wizard#index</h1>
      <div class="row">
        <div class="col-md-offset-2 col-md-10">
          <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="#">Topic 1</a></li>
              <li role="presentation"><a href="#">Topic 2</a></li>
              <li role="presentation"><a href="#">Topic 3</a></li>
          </ul>
        </div>

        <div class="col-md-2">
          <div class="row">
            <!-- Tabs left of frame.  These are Workflow level 2 sub-categories -->
            <ul class="nav nav-pills nav-stacked" role="tab-list">
              <li role="presentation" class="active"><a href="#subtopic_a" aria-controls="subtopic_a" role="pill" data-toggle="pill">Subtopic A</a> </li>
              <li role="presentation"><a href="#subtopic_b" aria-controls="subtopic_b" role="pill" data-toggle="pill">Subtopic B</a></li>
              <li role="presentation"><a href="#subtopic_c" aria-controls="subtopic_c" role="pill" data-toggle="pill">Subtopic C</a></li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="subtopic_a"><%= render "tab_pane" %></div>
              <div role="tabpanel" class="tab-pane" id="subtopic_b"><h1>This is Subtopic B</h1></div>
              <div role="tabpanel" class="tab-pane" id="subtopic_c"><h1>This is Subtopic C</h1></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">1 Column</div>
  </div>

</div>
